backend:
  name: git-gateway
  branch: main

media_folder: "images/portfolio"
public_folder: "/images/portfolio"

collections:
  - name: "portfolio"
    label: "Portfolio"
    folder: "content/portfolio"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Tytuł", name: "title", widget: "string" }
      - { label: "Zdjęcie", name: "image", widget: "image" }